*{
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;

}

html{
    height: 800px;
}

.container{
    display: flex;
    flex-wrap: nowrap;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.25);

}

h1{
    margin: 11px 520px 9px 30px;
    font-size: 24px;
    color: #4C6EF5;
}

nav{
    width: 100%;
    
}

ul{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: end;
    align-items: center;
    justify-content: space-around;
}

a{
    color: #343A40;
    text-decoration: none;
}

a:hover{
    cursor: ;
    color: #4C6EF5;
    text-decoration: #4C6EF5;
}